.header{
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.w60{
    width: 150px;
}
.red{
    // color: red;
}
.stats{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 1rem;
}

